# We are using flatten config of eslint and not using prettier
# Disable the default public-hoist-pattern(*-eslint-*, *-prettier-*)
public-hoist-pattern=
strict-peer-dependencies=true
engine-strict=true
registry=https://registry.npmjs.org
